<!-- templates/registration/password_reset_done.html -->
{% extends '_base.html' %}

{% block title %}
    Email sent
{% endblock %}

{% block content %}
    <br><h2>Reset email sent!</h2><br>
    <h7>
        We've emailed you instructions for resetting your password.
        If you did not receieve an email, please check your spam folder. <br>
        You can reach out to us at <a href = "mailto:staysafe3308@gmail.com">staysafe3308@gmail.com</a>
        <br><br>
        - The Stay Safe Team
    </h7>
{% endblock %}
