/* static/css/_base.css */

p {
    font-family: 'PT Sans', sans-serif;
    color : black;
    font-size : 12px;
}

body {
    font-family: 'PT Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Sans', sans-serif;
    /* font-weight: bold; */
}

.contact-error {
    color: red;
}

.accordian-border {
    border-bottom: 3px solid #f62
}

.table > tbody > tr > td {
    vertical-align: middle;
}

.table > tbody > tr > th {
    vertical-align: middle;
}

.navbar-title {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
}
