<!-- apps/templates/home.html -->
{% extends '_base.html' %}

{% block title %}
    Home
{% endblock %}

{% block extrajs %}
    <script>console.log("script on the outside");</script>
{% endblock %}

{% block content %}

<script type="text/javascript">
/* Determine (from views.py) if the button can be pressed */
var allow = '{{ button_allowed | safe }}';
var button = document.getElementsByName('emergencybtn');

/* JQuery: Disable the button if it was clicked */
function toggle(button) {
    /* Button Enabled */
    if (allow == 'true')
    {
        button.textContent = "Contacts Notified!";
        console.log("JS -- ALLOW -- TRUE");
        button.disabled = true;
        window.localStorage.setItem("allowed", "true");
    }

    /* Button Disabled */
    if (allow == 'false')
    { 
        button.textContent = "Unavailable for 24 hours";
        button.disabled = true;
        console.log("JS -- ALLOW -- FALSE");
        window.localStorage.setItem("allowed", "false");
    }
};
</script>

    <!-- User is logged on -->
    {% if user.is_authenticated %}
    <br><h1>Welcome, {{ user.first_name }}!</h1><br>
        
    <!-- Trips, Emergency Contacts, Emergency button -->
    <div class="container-fluid">
        <div class="row">
            <div class="form-inline float-left">
                <form id="trip_options" class="form-inline ml-auto">

                    <!-- View trips -->
                    <a href="{% url 'trip_list' %}" class="btn btn-info btn-md mr-1" \
                        role="button" aria-pressed="true">
                        Trips
                    </a> 
        
                    <!-- View emergency contacts -->
                    <a href="{% url 'emergencycontact_view' %}" class="btn btn-secondary btn-md mr-1" \
                        role="button" aria-pressed="true">
                        Emergency contacts
                    </a> 
                </form>

                <!-- Emergency Button -->
                <form method="POST" action="{% url 'emergency_mode' %}">
                    {% csrf_token %}
                    <button class="btn btn btn-danger btn-md" name="emergencybtn" onclick="toggle(this)">
                        Emergency
                    </button>
                </form>
            </div>
        </div>
    </div>  
    
    <!-- User is logged out -->
    {% else %}
        <br><b><h1>Welcome to Stay Safe!</h1></b>
        <h5>Log in or sign up to create and view your trips</h5>
        <br>
        <h7>
            Everyone knows they should notify a friend or family member about their trip plans 
            in case of an emergency. But this can often be easy to forget or burdensome. 'Stay Safe' 
            allows you to automatically notify an emergency contact if you have not returned from 
            your trip safely. Simply open the app and enter the start and end dates of your trip. 
            At the end of your trip, 'Stay Safe' checks if you have returned safely. If no response 
            is heard, 'Stay Safe' will notify your emergency contacts with your trip details
        </h7>
        
    {% endif %}
{% endblock %}