<!-- apps/templates/home.html -->
{% extends '_base.html' %}

{% block title %}
    Home
{% endblock %}

{% block extrajs %}
    <script>console.log("script on the outside");</script>
{% endblock %}

{% block content %}
    <!-- User is logged on -->
    {% if user.is_authenticated %}
    <br><h1>Welcome, {{ user.first_name }}!</h1><br>
        
    <!-- Trips, Emergency Contacts, Emergency button -->
    <div class="container-fluid">
        <div class="row">
            <div class="form-inline float-left">
                <form id="trip_options" class="form-inline ml-auto">

                    <!-- View trips -->
                    <a href="{% url 'trip_list' %}" class="btn btn-info btn-md mr-1" \
                        role="button" aria-pressed="true">
                        Trips
                    </a> 
        
                    <!-- View emergency contacts -->
                    <a href="{% url 'emergencycontact_view' %}" class="btn btn-secondary btn-md mr-1" \
                        role="button" aria-pressed="true">
                        Emergency contacts
                    </a> 
                </form>

                <!-- Emergency Button -->
                <form method="POST" action="{% url 'emergency_mode' %}">
                    {% csrf_token %}
                    <button class="btn btn btn-danger btn-md" name="emergencybtn" id="emergencybtn">
                        Emergency
                    </button>
                </form>
            </div>
        </div>
    </div>  
    
    <!-- User is logged out -->
    {% else %}
        <br><b><h1>Welcome to Stay Safe!</h1></b>
        <h5>Log in or sign up to create and view your trips</h5>
        <br>
        <h7>
            Everyone knows they should notify a friend or family member about their trip plans 
            in case of an emergency. But this can often be easy to forget or burdensome. 'Stay Safe' 
            allows you to automatically notify an emergency contact if you have not returned from 
            your trip safely. Simply open the app and enter the start and end dates of your trip. 
            At the end of your trip, 'Stay Safe' checks if you have returned safely. If no response 
            is heard, 'Stay Safe' will notify your emergency contacts with your trip details
        </h7>
        
    {% endif %}
    <script type="text/javascript">
    jQuery(document).ready(function($) {
        /* Check if the emergency button can be pressed */
        var allow = '{{ button_allowed | safe }}';
    
        /* Enable the emergency button */
        if (allow == 'true')
        {
            localStorage.clear();
            enableButton();
    
            /* Button was pressed */
            $('#emergencybtn').click(function() {
                setTimeout(function() {
                    localStorage.setItem('emergencybtn.disabled', 1)
                }, 10);
                localStorage.getItem('emergencybtn.disabled') && disableButton();
                });
        }

        /* Disable the emergency button */
        if (allow == 'false' || localStorage.getItem('emergencybtn.disabled'))
        {
            disableButton();
        }
    
        /* Helper function: disable the button */
        function disableButton() {
            $('#emergencybtn').prop('disabled', true);
            $('#emergencybtn').html("Emergency Contacts Notified");
        };
        
        /* Helper function: enable the button */
        function enableButton() {
            $('#emergencybtn').prop('disabled', false);
            $('#emergencybtn').html("Emergency");
        };
    });
    </script>
{% endblock %}