<!-- templates/trip_page.html -->
{% extends '_base.html' %}

{% block content %}

    <br>
    <div class="row">
        <div class="col-md-6 mb-0">
            <h1>Scheduled trips</h1>
        </div>
        <div class="col-md-6 mb-0" >
            <a href="{% url 'trip_create' %}" class="btn btn-info btn-md mr-1 float-right" \
                        role="button" aria-pressed="true">
                        Create Trip
            </a>
        </div>
    </div>
    <br>

    <!-- Trip table -->

    {% if not trips.all.count %}
        <h6>You have no trips.  Click "Create Trip" to start your adventure!</h6>
    {% endif %}


    {% if trips.awaiting_response.count > 0 %}
    <div class="accordion" style="border-bottom: 3px solid #5bc0de;" id="accordionExample4">
        <div class="card">
            <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse"
                            data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        <b>Awaiting Response</b>
                    </button>
                </h2>
            </div>
            <div id="collapseFour" class="collapse show" aria-labelledby="headingFour"
                 data-parent="#accordionExample4">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Trip</th>
                            <th scope="col">Location</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for trip in trips.awaiting_response %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ trip.trip_name }}</td>
                                <td>{{ trip.trip_location }}</td>
                                <td>{{ trip.trip_start }}</td>
                                <td>{{ trip.trip_end }}</td>
                                <td>{{ trip.trip_status }}</td>
                                <td>
                                    <!-- <a href="" class="btn btn-outline-success btn-md" \
                                       role="button" aria-pressed="true">
                                        Mark complete
                                    </a> -->
                                    <form method="POST" action="{% url 'mark_complete' pk=trip.pk%}">
                                        {% csrf_token %}
                                        <button class="btn btn-outline-success btn-md" name="markcompletebtn">Mark complete</button>
                                    </form>
                                </td>
                                <td>
                                    <a href="{% url 'trip_edit' trip.pk %}" class="btn btn-outline-info btn-md" \
                                       role="button" aria-pressed="true">
                                        Edit Trip
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-outline-danger btn-md" \
                                       role="button" aria-pressed="true">
                                        Delete Trip
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endif %}



    {% if trips.in_progress.count > 0 %}
    <div class="accordion" style="border-bottom: 3px solid #5bc0de;" id="accordionExample3">
        <div class="card">
            <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse"
                            data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        <b>In Progress</b>
                    </button>
                </h2>
            </div>
            <div id="collapseThree" class="collapse show" aria-labelledby="headingThree"
                 data-parent="#accordionExample3">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Trip</th>
                            <th scope="col">Location</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for trip in trips.in_progress %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ trip.trip_name }}</td>
                                <td>{{ trip.trip_location }}</td>
                                <td>{{ trip.trip_start }}</td>
                                <td>{{ trip.trip_end }}</td>
                                <td>{{ trip.trip_status }}</td>
                                <td>
                                    <a href="{% url 'trip_edit' trip.pk %}" class="btn btn-outline-info btn-md" \
                                       role="button" aria-pressed="true">
                                        Edit Trip
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-outline-danger btn-md" \
                                       role="button" aria-pressed="true">
                                        Delete Trip
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    {% if trips.upcoming.count > 0 %}
    <div class="accordion" style="border-bottom: 3px solid #5bc0de;" id="accordionExample2">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                    <button class="btn btn-link text-info" type="button" data-toggle="collapse"
                            data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        <b>Upcoming</b>
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample2">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Trip</th>
                            <th scope="col">Location</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for trip in trips.upcoming %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ trip.trip_name }}</td>
                                <td>{{ trip.trip_location }}</td>
                                <td>{{ trip.trip_start }}</td>
                                <td>{{ trip.trip_end }}</td>
                                <td>{{ trip.trip_status }}</td>
                                <td>
                                    <a href="{% url 'trip_edit' trip.pk %}" class="btn btn-outline-info btn-md" \
                                       role="button" aria-pressed="true">
                                        Edit Trip
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-outline-danger btn-md" \
                                       role="button" aria-pressed="true">
                                        Delete Trip
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% endif %}
    {% if trips.past.count > 0 %}
    <div class="accordion" style="border-bottom: 3px solid #5bc0de;" id="accordionExample">
        <div class="card">
            <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                    <button class="btn btn-link collapsed text-info" type="button" data-toggle="collapse"
                            data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <b>Past</b>
                    </button>
                </h2>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Trip</th>
                            <th scope="col">Location</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        {% for trip in trips.past %}
                            <tbody>
                            <tr>
                                <th scope="row">{{ forloop.counter }}</th>
                                <td>{{ trip.trip_name }}</td>
                                <td>{{ trip.trip_location }}</td>
                                <td>{{ trip.trip_start }}</td>
                                <td>{{ trip.trip_end }}</td>
                                <td>{{ trip.trip_status }}</td>
                                 <td>
                                    <a href="{% url 'trip_edit' trip.pk %}" class="btn btn-outline-info btn-md" \
                                       role="button" aria-pressed="true">
                                        Edit Trip
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url 'trip_delete' trip.pk %}" class="btn btn-outline-danger btn-md" \
                                       role="button" aria-pressed="true">
                                        Delete Trip
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}
