<!-- templates/upcoming_trips.html -->
{% extends '_base.html' %}

{% block content %}

    <br><h1>Upcoming Trips</h1><br>
    
    <!-- Upcoming Trips Table -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Trip</th>
                <th scope="col">Location</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        {% for trip in object_list %}
            <tbody>
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ trip.trip_name }}</td>
                    <td>{{ trip.trip_location }}</td>
                    <td>{{ trip.trip_start }}</td>
                    <td>{{ trip.trip_end }}</td>
                </tr>
            </tbody>
        {% endfor %}
    </table>

{% endblock %}
